<a href="https://colab.research.google.com/github/nazuma123/Python/blob/main/File_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**File Handling**

`File Handling concept is used to work with different Files (ex: pdf | pptx | txt | word_doc | csv )`

`In File Handling concept -> we have 3 Modes `

- `Mode w -> write Mode `
- `Mode a -> add Mode (update)`
- `Mode r -> read Mode `

**Mode w**

- `Rule 1: If the File is Not there Mode w will create the file and we can add the data into the file `

- `Rule 2: If the File is Available and File is Empty Mode w can write the data into the file `

- `Rule 3: If the File is Available and There is data in the File but if we pass New data Old data will override `

In [ ]:
a = open('sharuk.txt' , 'w') # write Mode

a.write('Data science')

a.close()

In [ ]:
a = open('kiran.txt' , 'w') # write Mode

a.write('GEN AI')

a.close()

In [ ]:
a = open('srinu.txt' , 'w') # write Mode

a.write('GEN AI')

a.close()

In [ ]:
# Mode a

a = open('sharuk.txt' , 'a') # write Mode

a.write('Data science')

a.close()

In [ ]:
a = open('kiran.txt' , 'a') # write Mode

a.write('GEN AI')

a.close()

In [ ]:
a = open('srinu.txt' , 'a') # write Mode

a.write(' GEN AI')

a.close()

In [ ]:
a = open('sharuk.txt','r')

print(a.read())

Data science

In [ ]:
a = open('prem.txt','r')

print(a.read())

FileNotFoundError: [Errno 2] No such file or directory: 'prem.txt'

In [ ]:
f = open('india.txt','w')

f.write('we belong to Indian Country')

f.close()

In [ ]:
f = open('india.txt','w')

f.write('we belong to Indian Country')

27

In [ ]:
with open('india.txt','w') as f:
  f.write('we belong to Indian Country')

In [ ]:
a = open('india.txt','r')

print(a.read())

we belong to Indian Country

In [ ]:
with open('india.txt','r') as a:
  print(a.read())

we belong to Indian Country

- `dump -> sending the dict into a json file `
- `load -> read the dict from a Json file `
- `dumps -> convert dict to str `
- `loads -> convert str back to dict `

In [ ]:
# JSON = Java Script Object notation

In [ ]:
import json

In [ ]:
fruits = {'apple':100,'Banana':200,'Carrot':300}

with open('kumar.json','w') as f:
  json.dump(fruits,f)

In [ ]:
with open('kumar.json','r') as f:
  result = json.load(f)

print(result)

{'apple': 100, 'Banana': 200, 'Carrot': 300}

In [ ]:
fruits = {'apple':100,'Banana':200,'Carrot':300} # dict
print(fruits)
print(type(fruits))


res = json.dumps(fruits)
print(res)
print(type(res))

{'apple': 100, 'Banana': 200, 'Carrot': 300}
<class 'dict'>
{"apple": 100, "Banana": 200, "Carrot": 300}
<class 'str'>

In [ ]:
fruits = {'apple':100,'Banana':200,'Carrot':300} # dict
print(fruits)
print(type(fruits))


res = json.dumps(fruits) # dict to str
print(res)
print(type(res))


final = json.loads(res) # str to dict
print(final)
print(type(final))

{'apple': 100, 'Banana': 200, 'Carrot': 300}
<class 'dict'>
{"apple": 100, "Banana": 200, "Carrot": 300}
<class 'str'>
{'apple': 100, 'Banana': 200, 'Carrot': 300}
<class 'dict'>