<a href="https://colab.research.google.com/github/nazuma123/Python/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Tuples**


- `String -> ''`
- `List -> []`
- `tuple -> ()`


- `If we write anything inside the () -> it comes under tuple data type `
- `we can pass any data type [int | float | string | boolean] inside the ()`
- `Memory Allocation | Slicing | skipping concepts are same like string and list `

In [ ]:
a = (10,45.77,'data',False) # save in the Memory

print(a) # calling from Memory

(10, 45.77, 'data', False)

In [ ]:
a = (10,50,90,100,12,6,3,13)

print(a[4])

12

In [ ]:
print(a[2:7])

(90, 100, 12, 6, 3)

In [ ]:
print(a[2 : ])

(90, 100, 12, 6, 3, 13)

In [ ]:
print(a[ : 5])

(10, 50, 90, 100, 12)

In [ ]:
print(a[: : 3])

(10, 100, 3)

In [ ]:
print(a[: : -1])

(13, 3, 6, 12, 100, 90, 50, 10)

**tuple is mutable or Immutable**

- `try to increase the Memory size `
- `try to decrease the Memory size `

In [ ]:
# try to increase

a = (10,50,100) # save in the Memory

a[3] = 500

print(a)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# try to decrease

a = (10,50,100) # save in the Memory

del a[1]

print(a)

TypeError: 'tuple' object doesn't support item deletion

**From the Above operations we can say that Python tuple is Immutable**

**Tuple Built_in_functions**

- `Count`
- `index`

In [ ]:
f =(10,20,30,20)
print(f.count(20))

2

In [ ]:
f =(10,20,30,20)
print(f.index(20,2))

3

`Tuple is the only technique we have -> when user passes multiple inputs into single varibale that varibale will convert into tuple `

In [ ]:
a = 10,20,30

print(a)

(10, 20, 30)

In [ ]:
# packing and unpacking

details = 'john',27,1500 # in development stage  packing

In [ ]:
type(details)

tuple

In [ ]:
name,age,salary = details # unpacking

In [ ]:
print(name)

john

In [ ]:
print(age)

27

In [ ]:
print(salary)

1500